    <div class="cd-filter">
      <form>


        <div class="cd-filter-block">
          <h4>By Colors</h4>

          <ul class="cd-filter-content cd-filters list">
            <li>
              <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
              <label class="radio-label" for="radio1">All</label>
            </li>
            <li>
              <input class="filter" data-filter=".bw" type="radio" name="radioButton" id="radio2">
                <label class="radio-label" for="radio2">Black and white</label>
            </li>
            <li>
              <input class="filter" data-filter=".bgs" type="radio" name="radioButton" id="radio3">
                <label class="radio-label" for="radio3">Grayscale</label>
            </li>
             <li>
              <input class="filter" data-filter=".cl" type="radio" name="radioButton" id="radio4">
                <label class="radio-label" for="radio4">Color</label>
            </li>

          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->



<% group =  @group_artifact 


%>

        <div class="cd-filter-block">
          <h4>Artifact Group</h4>

          <ul class="cd-filter-content cd-filters list">
          <% group.each do |artifact_group_en| %>
            <li>
              <input class="filter" data-filter=".<%= (artifact_group_en) %>" type="checkbox" id="checkbox1">
                <label class="checkbox-label" for="checkbox1"><%= artifact_group_en %></label>
            </li>

          <% end %>
          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->



        <div class="cd-filter-block">
          <h4>Search:Composition</h4>
          
          <div class="cd-filter-content">
            <input type="search" placeholder="Try <%= @composition.first %>...">
          </div> 
        </div> 


        <div class="cd-filter-block">
          <h4>Composition</h4>

          <ul class="cd-filter-content cd-filters list">

            <% @composition.each do |mat| %>

            <li>
              <input class="filter <%= mat %>" data-filter=".<%= mat %>" type="checkbox" id="checkbox1">
              <label class="checkbox-label" for="checkbox1"><%= mat %></label>
            </li>
            <% end %>

          </ul> 
        </div> 



<% if 43 < 34 %>
        <div class="cd-filter-block">
          <h4>Select</h4>
          
          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis">
                <option value="">Choose an option</option>
                <option value=".option1">Option 1</option>
                <option value=".option2">Option 2</option>
                <option value=".option3">Option 3</option>
                <option value=".option4">Option 4</option>
              </select>
            </div> <!-- cd-select -->
          </div> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->


        <div class="cd-filter-block">
          <h4>Materiaux</h4>

          <ul class="cd-filter-content cd-filters list">
            <li>
              <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
              <label class="radio-label" for="radio1">All</label>
            </li>

            <% 
            #@composition.each do |mat|
             %>

            <li>
              <input class="filter" data-filter=".<%= mat %>" type="radio" name="radioButton" id="radio2">
              <label class="radio-label" for="radio2"><%= mat %></label>
            </li>
            <% 
            #end
             %>

          </ul> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
<% end %>

      </form>

      <a href="#0" class="cd-close">Close</a>
    </div> <!-- cd-filter -->

    <a href="#0" class="cd-filter-trigger">Facets</a>