


<link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<style type="text/css">
	div.tooltip, div.tooltip-arrow, div.tooltip-inner{
		background-color: #E75A3A;
		color:white;
		text-shadow: none
	}
  span.abbr_museum{
    //border-bottom: 1px dashed #fff;
  }
</style>


<div data-animation="fadeIn" class="hero-heading fadeIn animated done-animation">

    <h1 class="hero-title"><span  data-toggle="tooltip" data-placement="top" title="<%= I18n.t '.cstm_tooltip' %> " class="abbr_museum"><%= I18n.t '.cstm_abbr' %></span>- <%= I18n.t '.index_title' %></h1>
    <!--
     <h1 class="hero-title"><span  data-toggle="tooltip" data-placement="top" title="Mus&eacute;e des sciences et technologies du Canada">MCST</span>- Moteur de Recherche d'Image</h1>

    -->
    <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>



    <p class="hero-tagline"><%= I18n.t '.index_odi' %></p>

</div>

<div class="col-lg-10 col-lg-offset-1 text-center" style="margin-top:30px;" id="main-page">
    
<%= search_form_for @search, :method => "get", id: "search-form", :html => {:class=>"form-group main-form"} do |f| %>

<% if (I18n.locale).to_s.eql?("en") %>
  <%= f.search_field :objname_en_cont, :required => true, placeholder: "#{I18n.t '.index_placeholder'}", :class => "form-group main-form", :style => "height:40px;width:60%" %>
<% else %>
  <%= f.search_field :objname_fr_cont, :required => true, placeholder: "#{I18n.t '.index_placeholder'}", :class => "form-group main-form", :style => "height:40px;width:60%" %>

<% end %>
  <%= f.submit "#{I18n.t '.index_submit'}", :name => nil, :class => 'btn btn-warning' %>
<% end %>






</div>   




