<style type="text/css">
  .loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_3.gif') 50% 50% no-repeat rgb(249,249,249);
}
</style>

<%= paginate @artifacts,  :outer_window => 4, :window =>  4  %>

<% 
#application helper
@composition = []
locale_en = (I18n.locale).eql?("en")
if !@artifacts.nil? 
@artifacts.each do |artefact| 
    if locale_en
    materiaux = eval(artefact.artifact_composition_general_en)
  else
    materiaux = eval(artefact.artifact_composition_general_fr)
  end
    if materiaux.size > 0
      materiaux.each do |mat|
        if !mat.eql?('[]')
          @composition.append(mat.split.collect { |w| w }.join('_'))
          @composition.uniq!
        end
      end
    end
  end
end

#li-helper

def find_materiaux(materiaux_value)
  materiaux_value = eval(materiaux_value)
  @obj_composition =[]
  if materiaux_value.size > 0
    materiaux_value.each do |mat|
      if !mat.eql?('[]')
        @obj_composition.append(mat.split.collect { |w| w }.join('_'))
      end
    end#do
  else
    return ' '
  end#if > 0
  return @obj_composition.join(' ')
end

  %>

<%
group =[]
@artifacts.each do |artefact|
if locale_en
  artefact = eval(artefact.artifact_group_en)
else
  artefact = eval(artefact.artifact_group_fr)
end
artefact.each {|n| group.push(n.split.collect { |w| w }.join('_')) if !n.empty?}

end
@group_artifact = group.uniq!
%>
<% 

def find_group(art_group)
artefact = []
art_group = eval(art_group)
art_group.each do |n|
    artefact.append(n.split.collect { |w| w }.join('_'))
end
return artefact.join(" ")
end
 %>



<section class="cd-gallery">

      <ul>
                
          <% 
          compte = 0
          @artifacts.each do |artefact| 
            compte = compte + 1
            %>

            <% if (I18n.locale).to_s.eql?("en") %>
            <li class="mix <%= find_group(artefact.artifact_group_en) %>  <%= obj = find_materiaux(artefact.artifact_composition_general_en) %>">

            <% else %>
            <li class="mix <%= find_group(artefact.artifact_group_fr) %>  <%= obj = find_materiaux(artefact.artifact_composition_general_fr) %>">

            <% end %>

            <%= link_to (image_tag "#{artefact.image_original}", :tag =>"Image ", :class => "emr example#{compte}"), artefact %>
            <div class="show-title" style="background-color:white; padding:5px; margin: auto 0;">
              <h5><%= artefact.objname_en %></h5>
            </div>
            </li>
            <% end %>
        <li class="gap"></li>
        <li class="gap"></li>
        <li class="gap"></li>
      </ul>
      <div class="cd-fail-message"><%= I18n.t '.r_no_result'  %></div>
    </section> <!-- cd-gallery -->

    <%= render "shared/facets", foo: @composition, baz: @group_artifact %>

    <div class="loader"></div>

    <script type="text/javascript">
$(window).load(function() {
  $(".loader").fadeOut("slow");
})
</script>