<p id="notice"><%= notice %></p>


<style type="text/css">
  body{
    background-color: #fff;//#F2F2F2;
  }

.benefit {
    background-color: #fff;
    margin: 15px 0;
    padding: 30px;
    text-align: center;
}
 .benefit {
    background-color: #fff;
}

.benefit-icon {
    color: #f3ae73;
}
.benefit-icon {
    font-size: 48px;
    margin-bottom: 15px;
}
.benefit-title {
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.benefit img{
  max-width: 100%;
  max-height: 595px;
}
table>tr>td.show_content:first-child{
  font-weight: bolder;
}
td:first-child {
  font-weight: bolder;
  width: 25%;
}

td{
  text-align: left;
}
</style>

<%
def find_location(location)
  #ain't got time anymore for this helper
  #http://techno-science.ca/en/open-data/tips-using-artifact-open-data-set.php
  {"1867".to_sym => "on display at the Canada Science and Technology Museum",
    "CEF".to_sym => 'on display at the Canada Agriculture and Food Museum',
    'NAM'.to_sym => 'on display at the Canada Aviation and Space Museum',
    'Loan'.to_sym => "on loan to another institution"
  }
end
 %>



<div class="container">
<!--
<h1><%#=t :hello_world %></h1>
-->


<h1>test locale <%= params[:locale]  %></h1>


<div class="col-lg-10 col-lg-offset-1">
                <div class="benefit">
                <span data-animation="bounceIn" class="benefit-icon fa fa-search-plus bounceIn animated done-animation"></span>
                <img id="zoom" src="<%= @artifact.image_original %>" data-zoom-image="<%= @artifact.image_original %>"  class="thumbnail" alt="<%= @artifact.objname_en %>"/>                 <h4 class="benefit-title"><%=  @artifact.objname_en %></h4>
                <h1 class="post-title text-center"><%=  @artifact.objname_en %></h1>


                <table class="table table-bordered show_content table-hover" style="background-color:#F2F2F2;">
  <thead>

  <tbody>
      <tr>
        <td><%= I18n.t '.shw_data_name' %></td>
        <td>
        <% link = @artifact.art_dataset_name.split("-")[0] 
           link = 'http://donnees.techno-science.ca/en/dataset?q=' + link +'&sort=score+desc%2C+metadata_modified+desc'
        %>
        <a href="<%= link %>" target="_blank">
        <%= @artifact.art_dataset_name %>
        </a>
        </td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_art_name' %></td>
        <td><%= @artifact.objname_en %></td>
      </tr>
      <tr>
        <td><abbr title="<%= I18n.t '.shw_catalogue_number_meaning' %> " class="initialism" style="color:green"> <%= I18n.t '.shw_catalogue_number' %> </abbr></td>
        <td><%= @artifact.catalogue_number %></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_date' %></td>
        <td><%= @artifact.artifact_date %></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_img_link' %></td>
        <td><%= @artifact.image_original %></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_img_thumb' %></td>
        <td><%= @artifact.image_thumbnail  %></td>
      </tr>
      <tr>
      <tr>
        <td><%= I18n.t '.shw_location' %></td>
        <td><%= @artifact.art_location  %></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_art_group' %></td>
        <td><% (eval(@artifact.artifact_group_en)).each do |mat| %>
            <span class="label label-primary"><%= mat.capitalize %></span>
        <%end%></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_art_category' %></td>
        <td><% (eval(@artifact.artifact_category_en)).each do |mat| %>
            <span class="label label-primary"><%= mat.capitalize %></span>
        <%end%></td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_art_compo' %></td>
        <td><% (eval(@artifact.artifact_composition_general_en)).each do |mat| %>
            <span class="label label-primary"><%= mat.capitalize %></span>
        <%end%>
        </td>
      </tr>
      <tr>
        <td><%= I18n.t '.shw_license' %></td>
        <td><a href="http://open.canada.ca/en/open-government-licence-canada"><%= I18n.t '.shw_gov_license' %></a><br/>
                     <span><%= I18n.t '.shw_license_contains' %> <a href="http://open.canada.ca/en/open-government-licence-canada"> Licence</a> </td>
      </tr>
  </tbody>
</table>
              </div>


<div class="text-left" >
<%= link_to '<i class="fa fa-file-image-o"></i> &nbsp;Download image'.html_safe, {:controller => "welcome", :action => "download_jpeg", :id => @artifact.id}, :class => "btn btn-primary btn-sm donwnload_image", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-2x'> </i> Downloading..."}, :style => "margin-bottom:30px;" %>
</div>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Zoom:</strong> <%= I18n.t '.shw_zoom' %> <br/>
</div>


<!--
<%= link_to '<i class="fa fa-file-pdf-o"></i>
 &nbsp;PDF'.html_safe, {:controller => "welcome", :action => "download_jpeg", :id => @artifact.id}, :class => "btn btn-warning btn-sm" %>
 -->






            </div>


            
</div>



</div>

<div class="container text-center" >
<div class="row" style="margin-bottom:50px;">

<%= link_to "#{I18n.t '.shw_back_result'}", 'javascript:history.go(-1);', :class => "btn btn-warning" %>
</div>
  
</div>

<style type="text/css">
section#footer{
  background-color: #000000;
  min-height: 40px;
  color: white;
  text-align: center;
  margin-top:100px;
}
</style>
<section id="footer">
  <h2>Hello World</h2>
</section>
<script type="text/javascript">


$(function(){ 

});

$(window).load(function(){  
     //initialize after images are loaded  
      $("img#zoom").elevateZoom({ zoomType : "inner", lensSize: 300, scrollZoom: true});
});
</script>
