<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Open Data Code2015 Jeux de données: Musée |  Museum Image search Engine " %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Museum App" %>">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
     <link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>

     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%
racine = 'http://source.techno-science.ca/images/'
image = [
				'1989.0047.001.aa.cs.jpg',#transmetteur
				'1993.0300.001.aa.cs.jpg',#dactylo

				'1970.0454.001.aa.cs.jpg',#pompier
				'1995.0268.001.aa.cs.jpg',#vase

]
#http://source.techno-science.ca/images/1970.0454.001.aa.cs.jpg
%>
 <style type="text/css">
    /*

* Based on Cover by https://twitter.com/mdo"  @mdo
* added cover image and background color to match (green)
*
* Globals

*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

#loading-mask {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*
 * Base structure
 */

html,
body {
/*css for full size background image*/
  background: url(<%= racine + image.shuffle.first %>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #fff;//#060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.95);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

</style>
 	<style>
		/* This only works with JavaScript, 
		   if it's not present, don't show loader */
		.no-js #loader { display: none;  }
		.js #loader { display: block; position: absolute; left: 100px; top: 0; }
	</style>
	<style type="text/css">
  form{
    margin-top: 40px;
  }
  h1.hero-title {
    color: #fff;
    font-family: 'Offside', cursive !important;
    font-size: 40px;
    font-weight: 800px;
}

section#homepage:hover{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 0 50px 0;
}

</style>

<style type="text/css">
  #main-page .subscribe form {
    margin-bottom: 20px;
    margin-top: 40px;
}
#main-page .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
#main-page .sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
#main-page label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
#main-page .main-form form input.main-form {
    border-color: #fff;
    height: 52px;
    width: 362px;
}
#main-page .form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
#main-page input[type="text"], textarea, textarea.form-control {
    background-color: #666; //: none repeat scroll 0 0 rgba(34, 41, 190, 0);
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding: 14px 10px;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
}
#main-page input:focus{
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}
#main-page button.btn:focus {
    background: none repeat scroll 0 0 #e89a3e;
    color: #fff;
    opacity: 0.6;
    outline: 0 none;
}
#main-page button.btn:hover {
    color: #fff;
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}
</style>
<%

loader = [
   'http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_3.gif',
	'http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif',

					]

%>
<style type="text/css">
	.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_3.gif') 50% 50% no-repeat rgb(249,249,249);
}
</style>
<script type="text/javascript">
$(window).load(function() {
	$(".loader").fadeOut("slow");
})
</script>
  </head>
  <body>




</head>
<body>
<div class="loader"></div>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
         <!--<h3 class="masthead-brand">Image Search Engine Techno Museum Canada</h3>-->

        </div>
      </div>

<div class="loading-mask"></div>
      <%= yield %>


    </div>
</div>
</div>


  </body>
  <script type="text/javascript">
    console.log(is.url('rugygems'));
  </script>
</html>




















